.flag_image {
  background-color: rgb(77, 80, 80);
  padding: 15px;
  border: 1px solid gold;
  border-radius: 15px;
  margin: 15px 0;
}

.country-visited {
  background-color: rgb(121, 210, 216);
  color: black;
}
